@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #020202;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
.height {
    max-height: 40rem;
}
.snapBar > * {
    opacity: 100%;
}
.snapBar {
    opacity:99%;
}
.test > *, .test {
    opacity: 100%;
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.handShake {
    animation: handShakeAnimation 1s linear infinite;
}
@keyframes handShakeAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(60deg);
    }
    100% {
        transform: rotate(0deg);
      }
  }