@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #020202;
    max-height: 100vh;
}
.height {
    max-height: 40rem;
}
.snapBar > * {
    opacity: 100%;
}
.snapBar {
    opacity:99%;
}
.test > *, .test {
    opacity: 100%;
}